
@{
    ViewBag.Title = "Lỗi";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}

<h1 class="page-header">Lỗi</h1>
<div class="alert alert-danger">Bạn không có quyền truy cập vào đây</div>

