body {
    margin-top: 0px;
    margin-left: 0px;
}

#page_1 {
    position: relative;
    overflow: hidden;
    margin: 46px 0px 62px 86px;
    padding: 0px;
    border: none;
    width: 730px;
}





.ft0 {
    font: bold 17px 'Times New Roman';
    text-decoration: underline;
    line-height: 25px;
}

.ft1 {
    font: bold 17px 'Times New Roman';
    line-height: 25px;
}

.ft2 {
    font: bold 27px 'Times New Roman';
    line-height: 31px;
}

.ft3 {
    font: bold 19px 'Times New Roman';
    line-height: 22px;
}

.ft4 {
    font: 17px 'Times New Roman';
    line-height: 19px;
}

.ft5 {
    font: 17px 'Symbol';
    line-height: 21px;
}

.ft6 {
    font: italic 17px 'Times New Roman';
    margin-left: 9px;
    line-height: 19px;
}

.ft7 {
    font: italic 17px 'Times New Roman';
    line-height: 19px;
}

.ft8 {
    font: italic 17px 'Times New Roman';
    margin-left: 8px;
    line-height: 19px;
}

.ft9 {
    font: bold 17px 'Times New Roman';
    line-height: 19px;
}

.ft10 {
    font: 1px 'Times New Roman';
    line-height: 1px;
}

.ft11 {
    font: 16px 'Times New Roman';
    text-decoration: underline;
    line-height: 19px;
}

.ft12 {
    font: 16px 'Times New Roman';
    line-height: 19px;
}

.ft13 {
    font: 17px 'Times New Roman';
    text-decoration: underline;
    line-height: 19px;
}

.ft14 {
    font: 11px 'Times New Roman';
    line-height: 14px;
    position: relative;
    bottom: 6px;
}

.ft15 {
    font: 17px 'Times New Roman';
    margin-left: 5px;
    line-height: 19px;
}

.ft16 {
    font: 17px 'Times New Roman';
    margin-left: 4px;
    line-height: 19px;
}

.ft17 {
    font: bold 17px 'Times New Roman';
    text-decoration: underline;
    line-height: 19px;
}

.ft18 {
    font: 17px 'Times New Roman';
    line-height: 25px;
}

.ft19 {
    font: italic bold 17px 'Times New Roman';
    line-height: 20px;
}

.ft20 {
    font: bold 17px 'Times New Roman';
    margin-left: 4px;
    line-height: 19px;
}

.ft21 {
    font: bold 17px 'Times New Roman';
    color: #ff0000;
    line-height: 19px;
}

.ft22 {
    font: 17px 'Times New Roman';
    color: #ff0000;
    line-height: 19px;
}

.ft23 {
    font: bold 16px 'Times New Roman';
    line-height: 25px;
}

.ft24 {
    font: bold 16px 'Times New Roman';
    line-height: 19px;
}

.ft25 {
    font: 17px 'Times New Roman';
    line-height: 20px;
}

.ft26 {
    font: 17px 'Times New Roman';
    margin-left: 7px;
    line-height: 19px;
}

.ft27 {
    font: 17px 'Times New Roman';
    margin-left: 10px;
    line-height: 19px;
}

.ft28 {
    font: 17px 'Times New Roman';
    margin-left: 6px;
    line-height: 19px;
}

.p0 {
    text-align: left;
    padding-left: 226px;
    padding-right: 216px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-indent: -70px;
}

.p1 {
    text-align: left;
    padding-left: 264px;
    margin-top: 39px;
    margin-bottom: 0px;
}

.p2 {
    text-align: left;
    padding-left: 125px;
    margin-top: 7px;
    margin-bottom: 0px;
}

.p3 {
    text-align: left;
    padding-left: 212px;
    margin-top: 7px;
    margin-bottom: 0px;
}

.p4 {
    text-align: left;
    padding-left: 226px;
    margin-top: 7px;
    margin-bottom: 0px;
}

.p5 {
    text-align: justify;
    margin-top: 36px;
    margin-bottom: 0px;
}

.p6 {
    text-align: justify;
    padding-left: 12px;
    padding-right: 61px;
    margin-top: 8px;
    margin-bottom: 0px;
    text-indent: -12px;
}

.p7 {
    text-align: justify;
    padding-right: 61px;
    margin-top: 9px;
    margin-bottom: 0px;
}

.p8 {
    text-align: justify;
    margin-top: 9px;
    margin-bottom: 0px;
}

.p9 {
    text-align: left;
    padding-right: 61px;
    margin-top: 9px;
    margin-bottom: 0px;
}

.p10 {
    text-align: left;
    margin-top: 11px;
    margin-bottom: 0px;
}

.p11 {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

.p12 {
    text-align: left;
    padding-left: 13px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

.p13 {
    text-align: left;
    margin-top: 7px;
    margin-bottom: 0px;
}

.p14 {
    text-align: left;
    padding-left: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

.p15 {
    text-align: right;
    padding-right: 90px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

.p16 {
    text-align: right;
    padding-right: 91px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

.p17 {
    text-align: right;
    padding-right: 89px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

.p18 {
    text-align: right;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

.p19 {
    text-align: right;
    padding-right: 21px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

.p20 {
    text-align: left;
    padding-right: 100px;
    margin-top: 7px;
    margin-bottom: 0px;
}

.p21 {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 0px;
}

.p22 {
    text-align: left;
    padding-left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

.p23 {
    text-align: left;
    padding-left: 9px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

.p24 {
    text-align: justify;
    margin-top: 6px;
    margin-bottom: 0px;
}

.p25 {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 0px;
}

.p26 {
    text-align: left;
    padding-right: 92px;
    margin-top: 8px;
    margin-bottom: 0px;
}

.p27 {
    text-align: left;
    padding-right: 61px;
    margin-top: 6px;
    margin-bottom: 0px;
}

.p28 {
    text-align: left;
    padding-right: 61px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.p29 {
    text-align: justify;
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.p30 {
    text-align: justify;
    padding-right: 61px;
    margin-top: 8px;
    margin-bottom: 0px;
}

.p31 {
    text-align: left;
    margin-top: 9px;
    margin-bottom: 0px;
}

.p32 {
    text-align: left;
    padding-right: 60px;
    margin-top: 9px;
    margin-bottom: 0px;
}

.p33 {
    text-align: left;
    padding-right: 61px;
    margin-top: 7px;
    margin-bottom: 0px;
}

.p34 {
    text-align: left;
    padding-left: 331px;
    margin-top: 3px;
    margin-bottom: 0px;
}

.p35 {
    text-align: justify;
    margin-top: 0px;
    margin-bottom: 0px;
}

.p36 {
    text-align: justify;
    padding-right: 60px;
    margin-top: 9px;
    margin-bottom: 0px;
}

.p37 {
    text-align: justify;
    padding-right: 60px;
    margin-top: 11px;
    margin-bottom: 0px;
}

.p38 {
    text-align: justify;
    padding-right: 61px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.p39 {
    text-align: justify;
    padding-right: 61px;
    margin-top: 12px;
    margin-bottom: 0px;
}

.p40 {
    text-align: justify;
    padding-right: 60px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.p41 {
    text-align: left;
    margin-top: 13px;
    margin-bottom: 0px;
}

.p42 {
    text-align: justify;
    padding-right: 61px;
    margin-top: 30px;
    margin-bottom: 0px;
}

.p43 {
    text-align: left;
    padding-right: 307px;
    margin-top: 11px;
    margin-bottom: 0px;
}

.p44 {
    text-align: left;
    padding-left: 331px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.p45 {
    text-align: left;
    padding-right: 139px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.p46 {
    text-align: justify;
    padding-right: 61px;
    margin-top: 6px;
    margin-bottom: 0px;
}

.p47 {
    text-align: justify;
    padding-right: 60px;
    margin-top: 8px;
    margin-bottom: 0px;
}

.p48 {
    text-align: left;
    padding-right: 437px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.p49 {
    text-align: left;
    padding-right: 83px;
    margin-top: 6px;
    margin-bottom: 0px;
}

.p50 {
    text-align: left;
    padding-right: 61px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.p51 {
    text-align: left;
    padding-left: 331px;
    margin-top: 23px;
    margin-bottom: 0px;
}

.p52 {
    text-align: justify;
    padding-right: 61px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.p53 {
    text-align: left;
    margin-top: 8px;
    margin-bottom: 0px;
}

.p54 {
    text-align: left;
    margin-top: 33px;
    margin-bottom: 0px;
}

.p55 {
    text-align: justify;
    padding-left: 19px;
    padding-right: 61px;
    margin-top: 9px;
    margin-bottom: 0px;
    text-indent: -19px;
}

.p56 {
    text-align: justify;
    padding-left: 19px;
    padding-right: 61px;
    margin-top: 10px;
    margin-bottom: 0px;
    text-indent: -19px;
}

.p57 {
    text-align: justify;
    padding-left: 19px;
    padding-right: 61px;
    margin-top: 11px;
    margin-bottom: 0px;
    text-indent: -19px;
}

.p58 {
    text-align: justify;
    padding-left: 18px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.p59 {
    text-align: left;
    padding-left: 331px;
    margin-top: 306px;
    margin-bottom: 0px;
}

.td0 {
    padding: 0px;
    margin: 0px;
    width: 131px;
    vertical-align: bottom;
}

.td1 {
    padding: 0px;
    margin: 0px;
    width: 513px;
    vertical-align: bottom;
}

.td2 {
    padding: 0px;
    margin: 0px;
    width: 258px;
    vertical-align: bottom;
}

.td3 {
    padding: 0px;
    margin: 0px;
    width: 255px;
    vertical-align: bottom;
}

.td4 {
    padding: 0px;
    margin: 0px;
    width: 644px;
    vertical-align: bottom;
}

.td5 {
    padding: 0px;
    margin: 0px;
    width: 16px;
    vertical-align: bottom;
}

.td6 {
    padding: 0px;
    margin: 0px;
    width: 222px;
    vertical-align: bottom;
}

.td7 {
    padding: 0px;
    margin: 0px;
    width: 122px;
    vertical-align: bottom;
}

.td8 {
    padding: 0px;
    margin: 0px;
    width: 116px;
    vertical-align: bottom;
}

.td9 {
    padding: 0px;
    margin: 0px;
    width: 106px;
    vertical-align: bottom;
}

.td10 {
    padding: 0px;
    margin: 0px;
    width: 132px;
    vertical-align: bottom;
}

.td11 {
    padding: 0px;
    margin: 0px;
    width: 101px;
    vertical-align: bottom;
}

.td12 {
    padding: 0px;
    margin: 0px;
    width: 32px;
    vertical-align: bottom;
}

.td13 {
    padding: 0px;
    margin: 0px;
    width: 117px;
    vertical-align: bottom;
}

.td14 {
    padding: 0px;
    margin: 0px;
    width: 338px;
    vertical-align: bottom;
}

.td15 {
    padding: 0px;
    margin: 0px;
    width: 40px;
    vertical-align: bottom;
}

.td16 {
    padding: 0px;
    margin: 0px;
    width: 422px;
    vertical-align: bottom;
}

.td17 {
    padding: 0px;
    margin: 0px;
    width: 136px;
    vertical-align: bottom;
}

.tr0 {
    height: 19px;
}

.tr1 {
    height: 28px;
}

.tr2 {
    height: 31px;
}

.tr3 {
    height: 27px;
}

.tr4 {
    height: 36px;
}

.tr5 {
    height: 34px;
}

.tr6 {
    height: 26px;
}

.tr7 {
    height: 22px;
}

.t0 {
    width: 644px;
    margin-top: 7px;
    font: 17px 'Times New Roman';
}

.t1 {
    width: 360px;
    margin-top: 8px;
    font: 17px 'Times New Roman';
}

.t2 {
    width: 149px;
    font: 17px 'Times New Roman';
}

.t3 {
    width: 378px;
    margin-top: 9px;
    font: 17px 'Times New Roman';
}

.t4 {
    width: 558px;
    margin-left: 52px;
    margin-top: 37px;
    font: bold 17px 'Times New Roman';
}
