
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<h1 class="page-header">Error</h1>

<div class="alert alert-danger">
   <h3> Bạn không có quyền truy cập chức năng này! </h3>
</div> 
